@font-face {
    font-family: 'Museo-Sans-Cyr Reg';
    src: url('../font/Museo-Sans-Cyr/MuseoSansCyrl_300.otf');
}

@font-face {
    font-family: 'Museo-Sans-Cyr Med';
    src: url('../font/Museo-Sans-Cyr/MuseoSansCyrl_700.otf');
}

@font-face {
    font-family: 'Museo-Sans-Cyr Bold';
    src: url('../font/Museo-Sans-Cyr/MuseoSansCyrl_900.otf');
} 